<!DOCTYPE html>
<head>
  <title>Report Comment Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Write my Report Comments</h3>
  <form action="/" method="post">
    <input type="text" name="studentName" placeholder="Enter student name" required />
    <input type="text" name="studentMark" placeholder="Enter student mark" required />
    <input type="text" name="courseDesc" placeholder="Enter a brief course description" required />
    <input type="submit" value="Generate Comment" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
